$header_bgcolor: lightpink;
$top_bgcolor: #D8BFD8;
$background_color: hotpink;
$background-colormedia: #f2f2b2;
$banner_color: saddlebrown;
$border_color: black;
$main_bgcolor: plum;
$dark_background: midnightblue;
$white_color: white;
$zc: #f8d2f2;
$green1: #4CAF50;
$green2: #45a049;